html {
    height: 100%;
}
.select-user-btn
{
	cursor: pointer;
}
body {
    font-family: 'Manrope', sans-serif;
    height: 100%;
}

.inputgroup-senha button {
    width: 46px;
}

header {
    background: #2d2d2d;
}
.autocompletebox
{
    position: relative;
}
.note-editable p, .nopad p
{
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.btn-seequest
{
    position: relative;
    top: 5px;
}
.sortablelist
{
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
}
.sortablelist .realul
{
    position: relative;
    z-index: 10;
}
.alert-warning-color {
    color: #856404 !important;
}
.sortablelist .realul.carregado
{
    z-index: 11;
    position: absolute !important;
    width: 100%;
    
}
.fakelist
{
    background: #fff;
    border: 1px solid #ced4da;
    max-height: 200px;
    position: absolute;
    z-index: 111;
    overflow-y: auto;
    left:0;
    right:0;
}
.fakeoption
{
    padding: 0 15px;
    width: 100%;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;    
}
.bg-dark .close
{
    color: #fff !important;
    text-shadow: none !important;
}
.progress-bar
{
    transition: width 0 ease !important;

}
.tracodig
{
    line-height: 30px;
}
.fakeoption:hover
{
    color: #fff;
    background-color: #6c757d;
}

#app {
    height: 100%;
}

.title-logo {
    line-height: 30px;
    font-size: 30px;
    padding-top: 5px;
}

.loginbox {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    right: 0;
}

.valign {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#loginform {
    max-width: 100%;
    width: 400px;
}

.dropdown-menu.bg-dark .dropdown-item {
    color: rgba(255, 255, 255, .5);
}

.dropdown-menu.bg-dark .dropdown-item:hover {
    background: transparent !important;
    color: rgba(255, 255, 255, .7);
}

.dropdown-menu.bg-dark .dropdown-divider {
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    border-top: 1px solid rgba(255, 255, 255, .1);
}

.avatarhover {
    display: inline-block;
    border-radius: 80px;
    position: relative;
    overflow: hidden;
}

.border-ml {
    border-color: rgba(0, 0, 0, .1);
}

.avatarhover img {
    width: 100px;
    max-width: 100%;
}

.avatarimg {
    border-radius: 20px !important;
    display: inline-block;
    position: relative;
    margin-bottom: -22px;
    top: -5px;
    overflow: hidden !important;
}

.avatarimg img {
    width: 40px;
}

.avatarhover button {
    background: rgba(0, 0, 0, .3);
    color: #fff;
    transition: all .15s ease-in-out;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 30px;
    opacity: 0;
    display: block;
    border: none;
    width: 100%;
}

.avatarhover button:hover {
    opacity: 1;
}

#wof {
    min-height: 100%;
    position: relative;
}

footer {
    position: relative;
    z-index: 2;
    margin-top: -40.55px;
}

.chamaseta {
    position: relative;
}

.chamaseta::after {
    position: absolute;
    content: '1';
    font-size: 0 !important;
    border-style: solid;
    border-width: 7px 7px 7px 0;
    border-color: transparent #17a3b8 transparent transparent;
    left: -7px;
    top: calc(50% - 7px);
}

#alertbox .alert {
    transition: all .15s ease-in-out;
}

.bg-danger.chamaseta::after {
    border-color: transparent #dc3545 transparent transparent !important;
}
div.btn, span.btn
{
    user-select: text !important;
    cursor: text !important;
}
.btn.alert-warning {

    color: #856404 !important;
}
@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .hidden-sm {
        display: none !important;
    }
   
}

@media (max-width: 575px) {
    .loginbox {
        left: 0;
        text-align: center;
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .border-lg-right {
        border-right: 1px solid rgba(0, 0, 0, .1) !important;
    }
}

@media (min-width: 1200px) {}